<!DOCTYPE html>
<html lang="es-do">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LOUHub</title>

    <!-- Bootstrap Core CSS -->
    <link href="/Utilidades/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/Utilidades/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/Utilidades/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Utilidades/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/Utilidades/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/Utilidades/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block styles %} 

    {% endblock %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">LOU Social hub v0.7a</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">   
                        <li>
                            <a href="/SocialHub/"><i class="fa fa-dashboard fa-fw"></i> Social hub</a>
                        </li>
                        <li>
                            <a href="/AddToHub/"><i class="fa fa-users fa-fw"></i> Unirme al hub</a>
                        </li>  
                        <li>
                            <a href="/Card/"><i class="fa fa-file-image-o fa-fw"></i> Summoner card</a>
                        </li>                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% block content %} 

            {% endblock %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/Utilidades/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Utilidades/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Utilidades/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript 
    <script src="/Utilidades/raphael/raphael-min.js"></script>
    <script src="/Utilidades/morrisjs/morris.min.js"></script>
    <script src="/Utilidades/js/morris-data.js"></script>
-->
    <!-- Custom Theme JavaScript -->
    <script src="/Utilidades/dist/js/sb-admin-2.js"></script>
    {% block scripts %} {% endblock %}
</body>

</html>
